.elementor-605 .elementor-element.elementor-element-490b99b2 .elementor-spacer-inner {height: 50px;}
.elementor-605 .elementor-element.elementor-element-12f2e8a5 .elementor-text-editor {text-align: center;}
.elementor-605 .elementor-element.elementor-element-1322503f .elementor-spacer-inner {height: 50px;}
.elementor-605 .elementor-element.elementor-element-4c5090e2 {font-family: "Actor",Sans-serif;}
.elementor-605 .elementor-element.elementor-element-8f204cf .elementor-spacer-inner {height: 50px;}