.elementor-550 .elementor-element.elementor-element-a20ce44 .elementor-spacer-inner {height: 50px;}
.elementor-550 .elementor-element.elementor-element-29b7bafb .elementor-text-editor {text-align: center;}
.elementor-550 .elementor-element.elementor-element-2823628 .elementor-spacer-inner {height: 50px;}
.elementor-550 .elementor-element.elementor-element-ce02b2e {font-family: "Actor",Sans-serif;}
.elementor-550 .elementor-element.elementor-element-f7937a8 {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-550 .elementor-element.elementor-element-f7937a8 .elementor-divider-separator {width: 100%;}
.elementor-550 .elementor-element.elementor-element-f7937a8 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-550 .elementor-element.elementor-element-2ef432b {text-align: center;}
.elementor-550 .elementor-element.elementor-element-c3c7c8e {font-family: "Actor",Sans-serif;}
.elementor-550 .elementor-element.elementor-element-8628781 {text-align: center;}
.elementor-550 .elementor-element.elementor-element-722aaea {font-family: "Actor",Sans-serif;}
.elementor-550 .elementor-element.elementor-element-a4b9625 {text-align: center;}
.elementor-550 .elementor-element.elementor-element-5ef7b49 {font-family: "Actor",Sans-serif;}
.elementor-550 .elementor-element.elementor-element-92cba0a .elementor-text-editor {text-align: center;}